.head {
    padding: 10px;
    background-color: #267255;
}

.logo {
    padding: 10px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 0px;
    text-align: center;
    background-color: #267255;
    box-shadow: 0px 0px 2px #efefef;
}

.logoStyle {
    color: #85b1a0;
}